.subheaders {
  display: flex;
  flex-direction: row;

  h3 {
    margin: 0px 0 20px 20px;
    font-size: 1rem;
    font-weight: 400;
    flex: 1;
  }

  p {
    align-self: flex-end;
    margin: 0px 20px 20px 0px;
  }
}

.scroll_cards_container,
.scroll_others_container,
.sun-card-container {
  display: flex;
  overflow-x: auto;
}

.scroll_others_container {
  margin-bottom: 100px;
  justify-content: space-between;
}

.scroll_card,
.other_card {
  margin-left: 20px;
  max-width: 300px;
  width: 60%;
  padding: 10px 10px 10px 10px;
}

.scroll_card,
.other_card,
.sun-card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
}

.sun-card {
  height: 100%;
  margin: 0px 20px 20px 20px;
  width: 100%;
  padding: 50px 20px 50px 20px;

  img {
    width: 180px;
  }
}

.scroll_card:last-child,
.other_card:last-child {
  margin-right: 20px;
}

.scroll_cards_container::after,
.scroll_others_container::after {
  content: '';
  padding-right: 0.02px;
}

.scroll_cards_container::-webkit-scrollbar,
.scroll_others_container::-webkit-scrollbar {
  display: none;
}

.scroll_planet {
  width: 115px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .scroll_card,
  .other_card {
    h2 {
      font-size: 18px;
    }
  }
  .scroll_others_container {
    justify-content: left;
  }
}
