// Partial styles

@import './card';
@import './nav';
@import './skeleton';
@import './home/_planetsHScrolling';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-font-color: #2c3e50;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--main-font-color);
}

html {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(7deg, #322956 7%, #10436e 100%);
  // Future implementation
  // background-image: url('/img/stars.png'),
  // linear-gradient(7deg, #322956 7%, #10436e 100%);
}
