//Variables
$white: white;
$main-font-color: white;
$dark-font-color: #2c3e50;
$app-background-gradient: linear-gradient(7deg, #322956 37%, #04243f 100%);

// Partial styles
@import './nav';
@import './skeletons/_planets';
@import './home';
@import './planets';
@import './skeletons/_home';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $main-font-color;
}

html {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/public/img/bg.png');
  background-image: url('/public/img/stars.png'), $app-background-gradient;
}

.main-container {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 20px 0 10px 20px;
    color: $white;
  }

  h2 {
    color: $dark-font-color;
  }
}
