.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 40px 0 20px 0;
  width: 50%;
  border-radius: 10px;
  padding: 100px 20px 50px 20px;
}

.planet {
  width: 200px;
  position: absolute;
  margin-top: -50px;
}

.card h1 {
  font-size: 40px;
  padding: 0 0 6px 0;
}

.card h2 {
  font-size: 20px;
  padding: 0 0 6px 0;
}

.card p {
  line-height: 25px;
  text-align: center;
}

.last-card {
  margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 40px 0 20px 0;
    width: 90%;
    border-radius: 10px;
    padding: 100px 20px 50px 20px;
  }
}
