$white: white;

.scroll_others_container {
  display: flex;
  overflow-x: auto;
  margin-bottom: 100px;
  justify-content: space-between;
}

.other_card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin-left: 20px;
  border-radius: 10px;
  max-width: 300px;
  width: 60%;
  padding: 10px 10px 10px 10px;
}

.other_card:last-child {
  margin-right: 20px;
}

.scroll_others_container::after {
  content: '';
  padding-right: 0.02px;
}

.scroll_others_container::-webkit-scrollbar {
  display: none;
}

.scroll_planet {
  width: 115px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .other_card {
    h2 {
      font-size: 18px;
    }
  }

  .scroll_others_container {
    justify-content: left;
  }
}
