.skeleton-planet-card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 20px;
  border-radius: 10px;
  max-width: 300px;
  width: 60%;
  padding: 10px 10px 10px 10px;
}

.skeleton-planet-card:last-child {
  margin-right: 20px;
}

.skeleton-planet-card-container {
  display: flex;
  overflow-x: auto;
}

.skeleton-planet-card-container::after {
  content: '';
  padding-right: 0.02px;
}

.img-skeleton-planet {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  margin-bottom: 10px;
}

.h2-skeleton-planet {
  width: 50%;
  height: 20px;
}

.img-skeleton-planet,
.h2-skeleton-planet {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(
    to right,
    rgb(231, 231, 231) 8%,
    #f0f0f0 18%,
    rgb(231, 231, 231) 33%
  );
  background-size: 800px 104px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@media screen and (max-width: 768px) {
  .h2-skeleton-planet {
    width: 74%;
    margin-top: 20px;
  }

  .img-skeleton-planet {
    width: 90px;
    height: 90px;
    margin: 0 20px 0 20px;
  }
}
