@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-font-color: #2c3e50;
}

body {
  background: rgb(38, 55, 111);
  background: linear-gradient(
    179deg,
    rgb(21, 33, 73) 7%,
    rgba(15, 22, 45, 1) 100%
  );
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--main-font-color);
}
