@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--main-font-color: #2c3e50;
}

body {
	background-color: #0f162d;
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--main-font-color);
}

.botton-menu {
	display: flex;
	justify-content: space-around;
	position: fixed;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 20px;
	font-weight: 600;
	z-index: 50;
	background-color: #ffffff;
	text-transform: uppercase;
}

.menu-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	margin-top: 100px;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 40px 0 20px 0;
	width: 90%;
	border-radius: 10px;
	padding: 100px 20px 50px 20px;
}

.planet {
	width: 200px;
	position: absolute;
	margin-top: -50px;
}

.card h1 {
	font-size: 40px;
	padding: 0 0 10px 0;
}

.card p {
	line-height: 25px;
	text-align: center;
}

.last-card {
	margin-bottom: 150px;
}
